@use 'base/variables' as v;
@use 'base/mixins' as m;

.table{
    display: flex;
    justify-content: center;
    // padding: 0 1rem 1rem 1rem;
    max-width: 1200px;
    margin-top: 1rem;
    // border-left: 2px solid v.$black;
    // border-right: 2px solid v.$black;
    // border-bottom: 2px solid v.$black;
    
    &__content{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        max-width: 100rem;
        overflow-x: auto;
        tr{
            background-color: #e6e6e6;
            border-bottom: 2px solid lighten(v.$black,50%);
            font-size: 1.5rem;
            @include m.phone { 
            font-size: 1.7rem;
            }
        }
        th{
            border-bottom: 2px solid lighten(v.$black,50%);
            padding-bottom: 1rem;
        }
        td{
            padding: .2rem;
            // border-top: 2px solid lighten(v.$black,50%);
            border-right: 3px solid lighten(v.$black, 60%);
            &:last-of-type{
                border: none;
            }
        }
    }
    
    
    
    &__head{
        
        h2{
            
            color: #e6e6e6;
            font-size: 2rem;
            padding: 1rem;
            margin: 0;
            background-color: v.$black;
            
            font-weight: 700;
        }
    }
    &__actions{
        text-align: center;
        @include m.phone { 
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        i{
            font-size: 1.4rem;
            padding: .5rem;
            @include m.phone { 
                padding: .2rem;
                font-size: 1.5rem;
            }
           
        }
        
    }
}

.pending_invoice_table{
    max-width: 130rem;

}