@use 'variables' as v;
@use 'base/mixins' as m;
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body{
    background-color: #e5e5e5;
}
h1{
    font-family: v.$principal_font;
    font-size: 5rem;
}
a{
    text-decoration: none;
    color: v.$black;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.tittle{
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: center;
    font-family: v.$principal_font;
}

.button{
    background-color: v.$blue;
    display: inline-block;
    text-align: center;
    font-size: .5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #e5e5e5;
    padding: .5rem;
    border-radius: .2rem;
    @include m.phone { 
        padding: .8rem;
        margin-bottom: 0;
        font-size: 1rem;
    }
    &:hover{
        cursor: pointer;
        background-color: lighten(v.$blue, 10%);
    }
}
.button-red{
    @extend .button;
    background-color: v.$red;
    &:hover{
        background-color: lighten(v.$red, 10%);
    }
}
.button-green{
    @extend .button;
    background-color: v.$green;
    &:hover{
        background-color: lighten(v.$green, 10%);
    }
}