@use 'variables' as v;
@use 'base/mixins' as m;
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body{
    background-color: #e5e5e5;
}
h1{
    font-family: v.$principal_font;
    font-size: 5rem;
}
a{
    text-decoration: none;
    color: v.$black;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.tittle{
    font-size: 4rem;
    margin-top: .5rem;
    margin-bottom: 0;
    text-align: center;
    font-family: v.$principal_font;
}
.patient{
    font-size: 2.5rem;
    background-color: v.$gray;
    color: v.$black;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: v.$principal_font;
    @include m.phone { 
        font-size: 2rem;
    }
}
.right-align{
    text-align: right;
}
.center{
   
    text-align: center;
}
.link{
    margin-top: 3rem;
    font-size: 1.6rem;
    font-family: v.$secundary_font;
    margin-bottom: 2rem;
    p{
        display: block;
        margin-bottom: 3rem;
    }
    a{
        background-color: v.$black;
      color: #fff;
      transition-property: font-size;
      transition-duration: 300ms;
      padding: 1rem;
       &:hover{
        
        font-size: 1.8rem;
       }
    }
}
.error{
    margin-top: 3rem;
    background-color:#FF8E8E;
    color: #B92424;
    font-family: v.$principal_font;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    ul{
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 1rem 0;
        
    }
}
.recipe-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    width:90%;
    max-width: 1000px;
}

.button{
    background-color: v.$blue;
    display: inline-block;
    text-align: center;
    font-size: .5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #e5e5e5;
    padding: .5rem;
    border-radius: .2rem;
    @include m.phone { 
        padding: .8rem;
        margin-bottom: 0;
        font-size: 1rem;
    }
    &:hover{
        cursor: pointer;
        background-color: lighten(v.$blue, 10%);
    }
}
.button-red{
    @extend .button;
    background-color: v.$red;
    &:hover{
        background-color: lighten(v.$red, 10%);
    }
}
.button-green{
    @extend .button;
    background-color: v.$green;
    &:hover{
        background-color: lighten(v.$green, 10%);
    }
}
.form-search{
    display: flex;
    gap: .5rem;
    justify-content: center;
    font-family: v.$principal_font;
    width: 40%;
    &__input{
        
        font-size: 2rem;
        width:100%;
        min-width: 15rem;
        outline: none;
        color: v.$black;
        background-color: #e5e5e5;
    }
    
    &__button{
        font-size: 2rem;
        padding: .4rem;
        text-align: center;
        background-color: v.$black;
        color: #e5e5e5;
        &:hover{
            cursor: pointer;
        }
    }
}
.black-button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$black;
    color: #e5e5e5;
    padding: 2rem;
    text-align: center;
    max-width: 40%;
    max-height: 3rem;
    order: -1;
    margin-bottom: 1rem;
    @include m.phone { 
    margin-bottom: 0; 
    max-width: 30%;
    }
    p{
        font-size: 1.4rem;
        font-family: v.$secundary_font;
        display: none;
        @include m.phone { 
            font-size: 2rem;
            display: inline-block;
            padding-left: 1rem;

        }
    }
    i{
        font-size: 1.4rem;
        @include m.phone { 
            font-size: 2rem;
        }
    }
    &:hover{
        background-color: lighten(v.$black, 20%);
    }
}
.submit-button{
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: v.$principal_font;
    font-weight: 700;
    padding: 1.2rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: #e1e1e1;
    background-color: v.$black;
    border: 3px outset v.$black;
    
    flex-grow: 2;
    &:hover{
        cursor: pointer;
        background-color: lighten(v.$black, 20%);
    }
}
.cancel_button{
    @extend .submit-button;
    background-color: #B92424;
    flex-grow: 1;
    border: 3px outset #B92424;
    &:hover{
        cursor: pointer;
        background-color: lighten(#B92424, 20%);
    }
}
.save_button{
    @extend .submit-button;
    background-color: v.$green;
    border: 3px outset v.$green;
    &:hover{
        cursor: pointer;
        background-color: lighten(v.$green, 10%);
    }
}
.search-error{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}