@use 'variables' as v;

body{
    background-color: #e5e5e5;
}
h1{
    font-family: v.$principal_font;
    font-size: 3.5rem;
}
a{
    text-decoration: none;
    color: v.$black;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.tittle{
    font-size: 2.6rem;
    margin-top: 1.6rem;
    text-align: center;
    font-family: v.$principal_font;
}