// Aquí se encuentran las variables de estilos del proyecto
// Here are the style variables of the project

// Fonts/Fuentes
$principal_font : 'Raleway', sans-serif;
$secundary_font : 'Lato', sans-serif;
// Colors/Colores
$black : #2e2e2e;
$blue : #1E00DE;
$red : #DB1616;
$green : #007E07;
$gray : #C6C6C6;
// Tamaños
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;