@use 'base/variables' as v;
@use 'base/mixins' as m;


.form-signup{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    
    h2{
        margin: 2rem 0;
        font-family: v.$principal_font;
        text-align: center;
        text-transform: uppercase;
        color: v.$black;
        font-size: 3rem;
    }

    &__content{
        display: flex;
        flex-direction: column;
        
        width: 100%;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0, .2);
        padding: 2rem;
        @include m.phone { 
            width: 80%;
            border-radius: .3rem;
        }
        @include m.tablet { 
            width: 50%;
        }
        i{
            margin: 0 auto 2rem auto;
            font-size: 9rem;
            color: v.$black;
            
        }
    }
    
    &__field{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: v.$principal_font;
        color: v.$black;
        padding-bottom: 1rem;
        
        label{
            
            font-weight: 700;
            font-size: 1.6rem;
            text-transform: uppercase;
            margin: .3rem;
            
            @include m.phone { 
                font-size: 1.6rem;
                font-weight: 700;
                margin-bottom: .4rem;
                
            }
        }
        input{
            background-color: #e5e5e5;
            font-weight: 700;
            font-size: 1.8rem;
            padding: .5rem;
            outline: none;
            border: none;
            border-bottom: .2rem solid v.$black ;
            @include m.phone { 
                font-size: 1.7rem;
                padding: .8rem;
            }
            
        }
        
        
    }
    &__pass{
        margin-bottom: 1.5rem;
    }
    &__button{
        
        font-family: v.$principal_font;
        font-weight: 700;
        padding: 1.2rem;
        font-size: 2rem;
        text-transform: uppercase;
        color: #e1e1e1;
        background-color: v.$black;
        @include m.phone { 
            margin: 0 auto;
            width: 100%;
        }
        &:hover{
            cursor: pointer;
            background-color: lighten(v.$black, 10%);
        }
    }
}